.clearfix{
    clear: both;
}

.hr{
    size: 5px;
}

.header{
    content:url("Banner.png");
    width: 100%;
    height: 10%;
    background-color:   #54BAB9;
    object-fit:scale-down;
    object-position: 50% 100%;
}

.info{
    width:70%;
    height:60%;
    background-color:   whitesmoke;
    object-position: 50% 100%;
    margin: 3% auto;
    margin-top:15vh;
    margin-bottom:8vh;
    border-radius: 3vh;
    padding-top:0;
}

.content img {
    border-radius:50%;
    border-style:solid;
    border-width:thin;
    border-color:gray;
}

.profile1{
    width: 80px ;
    margin:2% 2%;
    float:left;
}

#aboutUsTitle {
    display:inline-block;
    width:100%;
    color: #F7ECDE;
    text-transform: uppercase;
    text-align:center;
    background-color:#54BAB9;
    border-radius:3vh 3vh 0 0;
}

#aboutUsText {
    color:black;
    font-family:Coolvetica;
    font-size:100%;
    text-indent:3em;
    margin-left:5vh;
    margin-right:5vh;
}

p{
    color: black;
    font-size:100%;
}

b{
    color: black;
    font-weight: 300;
    font-size:100%;
}