:root {
    --reallyLightGray:#F1F1F1F1;
    --antiFlashWhite:#F2F3F4;
    --antiqueWhite:#F7ECDE;
    --pearl:#E9DAC1;
    --seaFoamGreen:#9ED2C6;
    --verdigris:#54BAB9;
    --orangeRed:#FF5C5C;
}